.card-body {
    /* margin-top: 70px; */
    border: none;

    /* padding: 0%; */
}

.card-header {
    text-align: right !important;
}

.card-header a {
    color: black;
}

.card-body img {
    height: 266px;
    width: 395px;
    border-radius: 24px;
    position: relative;

}

.cardfooter {
    margin-top: 20px;
}