body {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 28px;
  color: #6a6a6a;
  font-size: 14px;
  background-color: #eff2f1;
}

.hero {
  background-color: #3b5d50;
  margin: 0px;
  position: relative;
  color: #ffffff;
  padding-top: 32px;
  padding-bottom: 128px;
  height: 460px;
}

.hero .intro {
  position: relative;
  margin-top: 20%;
  max-width: 450;
}

.hero h1 {
  margin-bottom: 30px;
  font-weight: 700;
}

.hero p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 100%;
  font-weight: 300;
  width: 82%;
}

.hero .wrape-img img {
  position: relative;
  width: 625px;
}

.hero .lightdot-img {
  position: absolute;
  background-image: url(../images/dots-light.svg);
  width: 255px;
  height: 163px;
  background-size: contain;
  background-repeat: no-repeat;
  right: 316px;
  top: 67px;
}

.hero-btn .btn1 {
  border-radius: 30px;
  color: #2f2f2f;
  font-weight: 500;
  padding: 10px;
  margin: 20px;
  width: 130px;
}

.hero-btn .btn2 {
  border-radius: 30px;
  font-weight: 500;
  padding: 10px;
  width: 100px;
  background: transparent;
  border-color: rgba(255, 255, 255, 0.3);
  margin-left: -12px;
}

.productSection {
  margin-top: 100px;
  margin-bottom: 100px;
}

.product h2 {
  font-weight: 400;
  font-size: 2rem;
  width: 99%;
}

.product p {
  font-size: 12px;
  margin-top: 15px;
  width: 82%;
}

.product button {
  border-radius: 30px;
  width: 97px;
  margin-top: 10px;
}

.productCard {
  width: 100%;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  text-decoration: none;
  padding: 10px;
  transition: transform 0.1s ease;
}
.productCard:hover {
  transform: translateY(-15px);
  /* color: #eff2f1; */
}

/* .card img {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
} */
.midSection {
  margin-top: 100px;
  margin-bottom: 100px;
}

.chooseUsSection {
  margin-top: 100px;
  margin-bottom: 100px;
}

.whychoosus {
  display: block;
  position: relative;
}

.whychoosus h2 {
  font-size: 2rem;
  font-weight: 500;
}

.whychoosus p {
  margin-bottom: 60px;
  font-size: 1rem;
  font-weight: 400;
}

.feature h3 {
  font-size: medium;
  margin-top: 20px;
}

.feature p {
  font-size: smaller;
  margin-bottom: 20px;
}

.feature {
  display: inline-block;
  position: relative;
}

.feature::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 20px;
  width: 33px;
  height: 33px;
  background: #cbd5d1;
  border-radius: 100%;
  z-index: -1;
}

.chooseus {
  height: 100%;
  width: 100%;
}

.chooseus img {
  position: relative;
  margin-left: 113px;
  border-radius: 20px;
  width: 85%;
  height: 100%;
}

.chooseus {
  position: relative;
  /* display: inline-block; */
}

.chooseus::before {
  content: "";
  position: absolute;
  top: -86px;
  left: 11px;
  width: 39%;
  height: 34%;
  background-image: url(../images/dots-yellow.svg);
  z-index: -1;
}

.helpsection {
  margin-top: 100px;
  margin-bottom: 200px;
}

.img-grid {
  position: relative;
}

.img-grid .grid-img1 {
  height: 100%;
  width: 65%;
  border-radius: 20px;
}

.img-grid .grid-img2 {
  height: 234px;
  width: 30%;
  border-radius: 20px;
  margin-left: 20px;
  margin-bottom: 357px;
}

.img-grid .grid-img3 {
  position: absolute;
  top: 40%;
  left: 44%;
  height: 76%;
  width: 51%;
  border-radius: 20px;
  z-index: 1;
  margin-left: 21px;
  margin-top: 14px;
}

.img-grid::before {
  content: "";
  position: absolute;
  top: -76px;
  left: -102px;
  width: 255px;
  height: 217px;
  background-image: url(../images/dots-green.svg);
  background-repeat: no-repeat;
  z-index: -1;
}

.secsection {
  width: 100%;
  position: relative;
}

.secsection h2 {
  width: 100%;
  font-weight: 500;
  font-size: 33px;
}

.secsection p {
  width: 80%;
  font-size: small;
}

.listStyle {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.listStyle li {
  font-size: small;
}

.listStyle li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #35736e;
  margin-right: 10px;
}

.secsection button {
  border-radius: 30px;
  width: 97px;
  margin-top: 10px;
  margin-left: 20px;
}

/* .pProduct{
    width: 100%;
    
 }  */
.pProduct img {
  width: 120px;
  height: 120px;
  position: relative;
  z-index: 1;
}

.pProduct::before {
  content: "";
  position: absolute;
  background-color: #dce5e4;
  border-radius: 20px;
  height: 100px;
  width: 100px;
  top: 12px;
  left: 8px;
}