#navbarNav {
  margin-left: 35%;
  /* font-size: 14px; */



}

#navbarNav .nav-item {
  color: white;
  /* font-size: 15px; */
  font-weight: 600;
  margin: 10px;
  padding: 10px;
  display: block;

}

.outerStyle {
  background-color: #3b5d50;

}

/* #navbarNav {
  padding: 0;
} */

.innerStyle {
  background-color: #3b5d50;
  padding: 0;

}

.logoStyle {
  color: #ffffff !important;
  font-size: 32px !important;
  font-weight: 600 !important;
  margin-left: 10px !important;

}


.dotStyle {
  color: #899E96;
  margin-left: -8px;
  font-size: 48px;
}



.active {

  color: rgb(124, 138, 167);
}