#navbarNav {
  margin-left: 50%;
  font-size: 14px;
  font-family: sans-serif;
  
  /* color: #ffffff; */
}
#navbarNav .nav-item {
  margin-right: 10px; /* Adjust this value to increase the gap */
}



